# {{ ansible_managed }}

[api]
dashboard = false

[log]
level = "INFO"

[providers.swarm]
exposedByDefault = false
endpoint = "tcp://dockerproxy:2375"
network = "proxy_net"

[entryPoints]
  [entryPoints.web]
  address = ":80"
