#!/bin/sh
# {{ ansible_managed }}
# Backup script for homelab

set -e

# This should be set by cron, but apparently isn't always; see
# https://bugs.debian.org/209185.  Add fallbacks so that start-stop-daemon
# can be found.
export PATH="$PATH:/usr/local/sbin:/usr/sbin:/sbin"

export RESTIC_REPOSITORY="{{ restic_setup_backup_path }}"
export RESTIC_PASSWORD_FILE="{{ restic_setup_key_dir }}/repo.key"

{% for item in restic_setup_srces %}
restic --verbose backup {{ item }}
{% endfor %}

rclone sync --progress --metadata --create-empty-src-dirs --fast-list {{ restic_setup_backup_path }} gcs_restic_backup:{{ restic_setup_gcs_bucket_name }}/
